<!-- logement-list.component.html -->
<div *ngFor="let niveau of niveaux" class="niveau-container">
  <button class="font-weight: bold;" (click)="goToHome()">BACK
  </button>
  <h2>Niveau {{ niveau }}</h2>
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Numéro de vanne</th>
        <th>Numéro de compteur</th>
        <th>Échéance de loyer</th>
        <th>Année Eau</th>
        <th>Paiement Eau</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let logement of getLogementsFiltres()">
        <td>{{ logement.type }} {{ logement.numeroLogement }}</td>
        <td>
          <input
            type="text"
            [(ngModel)]="logement.numeroVanne"
            (change)="mettreAJourLogement(logement)"
            placeholder="Numéro de vanne"
          />
        </td>
        <td>
          <input
            type="text"
            [(ngModel)]="logement.numeroCompteur"
            (change)="mettreAJourLogement(logement)"
            placeholder="Numéro de compteur"
          />
        </td>
        <td>
          <input
            type="date"
            [(ngModel)]="logement.echeanceLoyer"
            (change)="mettreAJourLogement(logement)"
          />
        </td>
        <td>
          <input
            type="number"
            [(ngModel)]="logement.Ans"
            (change)="mettreAJourLogement(logement)"
            placeholder="Année Eau"
          />
        </td>
        <td>
          <button (click)="afficherDetailsLogement(logement)">
            Détails
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
